/* Colors #dedede #808080 #ffc709 #1736f5 */

/* Reset browser style  */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: #dedede;
}
header {
    background-color: #1736f5;
    padding: 1.5em 3em;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}
header h1 {
    color: #dedede;
}
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100vw;
    height: 2.5em;
}
.author {
    text-decoration: none;
    color: #808080;
}
.note {
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #808080;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }